.btn-meta-success {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 22px;
  background-color: #297FA6;
  border: none;
  border-radius: 6px;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137); 
}

.btn-meta-outline-secondary {
  border-color: black;
}

.tag-default {
  background-color: white;
  color: $font-color-dark;
}

.tag-success {
  background-color: $brand-font-color;
  color: white;  
}

.custom-logo {
  padding-right: 4rem;
}

.header-tab {
  margin-right: 25px;
  color: $brand-link-color;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 15px;
  padding-bottom: 12px;
  margin-left: 5px;
}

.header-tab:hover {
  border-bottom: solid 3px #45D5E6;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}

.header-item-active {
  color: #ffffff;
  border-bottom: solid 3px #45D5E6;
  margin-top: 15px;
  padding-bottom: 15px;
}

.header-link-icon {
  margin-right:5px;
}

.header-left-side {
  width: calc(80% - 75px);
  padding-left: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-right-side {
  width: calc(40% - 75px);
}

.header-left-spacing {
  margin-left: 1.2rem;
}

.header-item-open {
  background-color: #303240;
  border: 0px;
}

.header-item-container {
  background-color: #303240;
  border: 0px;
}

.header-user-link-open {
  color: #ffffff;
}

.vertical-flip {
  transform: rotate(272deg);
}

.table-flex-wrapper {
  background-color: transparent;
  border: none;
}

.document-list-header {
  box-shadow: 0px 2px 6px $shadow-light;
  color: $brand-font-color-secondary;
  font-family: 'Inter', sans-serif;

  .header-element {
    .filter-caption, .action-label {
      font-size: 15px;
      font-weight: 500;
      padding-right: 5px;
      color: $font-color-dark;
    }
  }
}

.quick-actions-dropdown {
  box-shadow: 3px 3px 6px rgba(56, 47, 42, 15%);
  color: $brand-color-secondary;
  border-color: $brand-border-color-2;
  padding: 0;

  .quick-actions-item {
      &:hover{
          background-color: $color-hover;
          color: $font-color-dark;
      }

      &:focus {
          background-color: $color-row;
      }
  }

  .quick-actions-item-disabled {
      padding: .5rem;
      cursor: default;
      color: $brand-color-secondary;
  }
}

.table {
  thead {
    text-decoration: none;
    
    th {
      background-color: transparent;
      color: $brand-font-color;
      border-bottom: 2px solid $brand-border-color;
    }

    .sort-menu {
      &:hover {
          .th-caption {
              text-decoration: none;
          }
      }

      .sort-ico {
          color: $brand-font-color;
      }

      .th-caption {
        color: inherit;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
      }
    }
  }

  th, td {
    padding: 1rem;
    font-size: 15px;
  }

  td {
    font-family: 'Inter', sans-serif;
    color: $font-color-dark;
  }

  &.table-bordered-vertically td {
    border: none;
  }
}

.table-striped {
    border-collapse:separate; 
    border-spacing:0 15px;

    tbody tr {
      &.tr-odd, &.tr-even {
        background-color: $color-row;

        &:hover {
          background-color: $color-hover;
        }

        &.row-selected {
          background-color: $color-active !important;
        }
      }

      &.tr-even.row-disabled, &.tr-odd.row-disabled {
        background-color: transparent;
        color: inherit;
      }

      &.tr-even.row-boundary, &.tr-odd.row-boundary {
        border-bottom: none;
      }
    }

    .table-included tr {
      background-color: transparent;
    }
}

.pagination-row {
  font-size: .8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

  nav {
    .page-link {
      border: 1px solid $brand-border-color;
      border-radius: 4px;
      background-color: transparent;
    }

    .page-item.active .page-link {
      background-color: $brand-border-color;
      border-color: $brand-border-color;
    }
  }
}


.user-dropdown-item {
  padding: 1rem .7rem;
  background-color: #262833;
  color: #ffffff;
}

.user-dropdown-item i {
  margin-right: 5px;
}

.user-dropdown-item:not(.user-dropdown-header-item):hover,
.user-dropdown-item:not(.user-dropdown-header-item):focus {
  background-color: #4d5b80;
  color: #fff;
}
