line-height: 1.5;
font-weight: 400;
font-size: 16px;
font-family: 'Inter', sans-serif;
color: $font-color-base;
background-color: $color-background;

/* HEADER */

.header {
  border-bottom: 1px solid;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 69px;
  z-index: 100;
}

.header-custom-container {
  padding-left: 1rem;
}

.header-container {
  width: 100%;
  display: inline-block;
}

.header-left-menu {
  width: 55px;
  float: left;
  height: 70px;
}

.custom-logo {
  width: 230px;
  padding-top: 6px;
  float: left;
}

.header-tab {
  margin-right: 25px;
  /* color: $brand-link-color; */
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 25px;
  font-weight: 500;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 15px;
  font-size: 16px;
  opacity: 0.75;
}

.header-tab:hover {
  opacity: 1;
}

.header-item {
  font-size: 1rem;
}

.header-item-active {
  color: #ffffff;
  border-bottom: solid 3px #45D5E6;
  margin-top: 0px;
  font-weight: 500 !important;
  padding-bottom: 22px;
  opacity: 1;
}

.header-item-ml {
  padding-left: 10px;
}

.header-link-icon {
  margin-right:5px;
}

.header-left-side {
  width: calc(80% - 15px);
  padding-left: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-right-side {
  width: calc(26% - 5px);
  height: 50px;
}

.header-left-spacing {
  margin-left: 1.2rem;
}

.header-item-open {
  background-color: #303240;
  border: 0px;
}

.header-item-container {
  background-color: #303240;
  border: 0px;
  padding-bottom: 3px;
  top: 8px;
}

.header-item-badge {
  padding-top: 5px;
}

.header-user-link-open {
  color: #ffffff;
}

.header-logo {
  height: 55px;
}

.vertical-flip {
  /* transform: rotate(272deg); */
}

.sitemap { 
  margin-top: 15px;
}
.search-wrapper {
  padding-bottom: 15px;
}


.user-dropdown-item {
  padding: 1rem .7rem;
  background-color: #262833;
  color: #ffffff;
}

.user-dropdown-item i {
  margin-right: 5px;
}

.user-dropdown-item:not(.user-dropdown-header-item):hover,
.user-dropdown-item:not(.user-dropdown-header-item):focus {
  background-color: #4d5b80;
  color: #fff;
}

.btn-meta-primary {
  color: #fff;
  background-color: #262833;
  border-color: #262833;
}
.btn-meta-primary:hover{
  background-color: color(#4d5b80; lightness(45%));
  border-color: color(#4d5b80; lightness(45%));
}

.btn-header-open {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #4d5b80;
  border-color: #4d5b80;
}

.user-dropdown-item {
  padding: 1rem .7rem;
  background-color: #262833;
  color: #ffffff;
}

.user-dropdown-item i {
  margin-right: 5px;
}

.user-dropdown-item:not(.user-dropdown-header-item):hover,
.user-dropdown-item:not(.user-dropdown-header-item):focus {
  background-color: #4d5b80;
  color: #fff;
}

.btn-meta-primary {
  color: #fff;
  background-color: #262833;
  border-color: #262833;
}
.btn-meta-primary:hover{
  background-color: color(#4d5b80; lightness(45%));
  border-color: color(#4d5b80; lightness(45%));
}

.btn-header-open {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #4d5b80;
  border-color: #4d5b80;
}

.side-panel-toggle {
  width: 60px;
  height: 85px;
  padding-top: 20px;
}

/* Filters panel */

.document-list-wrapper {
  top: 40px;
}

.document-list-header {
  box-shadow: 0px 2px 6px $shadow-dark;
  color: $brand-font-color-secondary;

  .header-element {
    .filter-caption, .action-label {
      font-size: 15px;
      font-weight: 500;
      padding-right: 5px;
      color: $font-color-dark;
    }
  }
}

.quick-actions-dropdown {
  box-shadow: 3px 3px 6px $shadow-light;
  color: $brand-color-secondary;
  border-color: $brand-border-color-2;
  padding: 0;

  .quick-actions-item {
      &:hover{
          background-color: $color-hover;
          color: $font-color-dark;
      }

      &:focus {
          background-color: $color-active;
      }
  }

  .quick-actions-item-disabled {
      padding: .5rem;
      cursor: default;
      color: $brand-color-secondary;
  }
}

.btn-meta-success {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 22px;
  background-color: #297FA6;
  border: none;
  border-radius: 6px;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349019607843137); 
}

.btn-meta-outline-secondary {
  border-color: black;
}

.tag-default {
  background-color: white;
  color: $font-color-dark;
}

.tag-success {
  background-color: $brand-color-purple;
  color: white;  
}

/* TABLES */

.table-flex-wrapper {
  background-color: transparent;
  border: none;
}

.table {
  thead {
    text-decoration: none;
    
    th {
      background-color: transparent;
      color: $brand-color-purple;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: .3px;
      border-bottom: 2px solid $brand-border-color;
    }

    .sort-menu {
      &:hover {
          .th-caption {
              text-decoration: none;
          }
      }

      .sort-ico {
          color: $brand-color-purple;
      }

      .th-caption {
        color: inherit;
        font-weight: 600;
      }
    }
  }

  th, td {
    padding: 1rem;
  }

  td {
    color: $font-color-dark;
  }

  &.table-bordered-vertically td {
    border: none;
  }

  .text-right {
    text-align: left !important;
  }
}

.table-striped {
    tbody tr {
      &.tr-odd, &.tr-even {
        background-color: transparent;

        td {
          border-bottom: 1px solid $brand-color-purple;
        }

        &:hover, &.row-selected {
          cursor: pointer;
          background-color: $color-active !important;
          box-shadow: 0 3px 6px 0 $shadow-light;

          td {
            border-bottom-color: transparent;
            color: black;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      &.tr-even.row-disabled, &.tr-odd.row-disabled {
        background-color: transparent;
        color: inherit;
      }

      &.tr-even.row-boundary, &.tr-odd.row-boundary {
        border-bottom: none;
      }
    }

    .table-included tr {
      background-color: transparent;
    }
}

.pagination-row {
  font-size: .8rem;
  font-weight: 400;

  nav {
    .page-link {
      border: 1px solid $brand-border-color;
      border-radius: 4px;
      background-color: transparent;
    }

    .page-item.active .page-link {
      background-color: $brand-border-color;
      border-color: $brand-border-color;
    }
  }
}

/* FORM elements */

.form-control-label {
  text-align: right;
  color: $brand-color-purple;
}

.input-checkbox input:checked ~ .input-checkbox-tick {
    background: $color-dark;
    border-color: $color-dark;
}

input:checked + .input-slider {
  background-color: $brand-color-purple;
}

.input-checkbox-tick {
  background-color: inherit;
  border-color: $color-dark;
}

.input-icon {
  color: $brand-color-purple;
}

.input-primary, .input-secondary {
  border-color: $brand-color-purple;
}

.input-dropdown-container.select-dropdown.input-empty {
  border-color: $brand-color-purple;
}

.section {
  .separator {
    padding: .25rem;
    padding-left: .5rem;
    background-color: $color-dark;

    .separator-title {
      color: white;
    }
  }
}

@media only screen and (max-width: 1660px) {
  .header-right-side {
    width: calc(22% - 5px);
    height: 50px;
  }
}


@media only screen and (max-width: 1400px) {
  .header-item-ml {
    display: none;
  }
}


@media only screen and (max-width: 960px) {
  .header-item-ml {
    display: none;
  }

  .header-username {
    display: none;
  };
}

@media only screen and (max-width: 550px) {
  .header-logo {
    height: 30px;
  }

  .custom-logo {
    width: 135px;
    padding-top: 20px;
  }
  .header-item-ml {
    display: none;
  }

  .header-username {
    display: none;
  };
}
