$font-color-base: rgba(0,0,0,87%);
$shadow-dark: rgba(0, 0, 0, 15%);
$shadow-light: rgba(48,49,64,11%);
$color-hover-light: #46475d;
$color-background: #f7f4f0;
$color-active: #fcfbfa;
$color-dark: #303140;
$brand-color-purple: #6B6D91;
$font-color-dark: $color-dark;

$brand-color-secondary: #72717C;
$brand-bright-color: #f8f4ef;
$brand-border-color: $brand-color-purple;
$brand-border-color-2: #dedfe0;

$brand-color-primary: #9aafbd;
$brand-light-color: #C9D5DC;
$brand-super-light-color: #f2f7fa;
$brand-font-color: #4d5b65;
$brand-font-color-secondary: $font-color-dark;
$brand-link-color: #BABABF;
$brand-success-color: #89d729;
$brand-success-dark-color: #76b727;
$brand-primary-color: #1d4776;
$brand-primary-dark-color: #16365b;
$brand-primary-light-color: #E6F1FA;
$brand-danger-color: #f67a89;
$brand-danger-light-color: #f1e5e7;
$brand-warning-color: #e5bf26;
$brand-default-color: #eef2f7;

$brand-font-color-danger: #e85667;
$brand-danger-light-color: #fdf7f8;
$brand-font-color-weak: #afbfc9;

$brand-dark-color: #dfe5ec;
$brand-mandatory-color: #a8daf8;
$brand-pulse-effect: #FDFBD4;

$brand-selected-color: #d5e3ec;

$brand-color-disabled: #d7dfe5;

$brand-icon-color: #7180b6;

$checkbox-unchecked: rgba(107, 123, 134, 0.2);

$tooltip-border-color: #d5e5f0;

$brand-icon-off: #D8D8D8;

$input-focused-border: #4b5b64;

$breakpoint-xl: 1400px;
$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 768px;
$breakpoint: 576px;